In [147]:
import library_for_ab
import pandas as pd

In [151]:
df = pd.read_csv(r'C:\Users\User\Downloads\for_test.csv')

In [149]:
df['mobile_version'] = df['mobile_version'].apply(lambda x: x.split('.')[1])

KeyError: 'mobile_version'

In [ ]:
df['mobile_version'] = df['mobile_version'].apply(lambda x: 'A' if x == '1' else 'B')

In [ ]:
df['mobile_version'].apply(lambda x: 'A' if x == '1' else 'B')

In [ ]:
df['ads_revenue_since_reg.1'] = df['ads_revenue_since_reg.1']/100000

In [ ]:
df.rename(columns={'mobile_version':'group'}, inplace=True)

In [ ]:
df

In [ ]:
df = df.rename(columns={'first_days.sessions_count.real.1d':'ses_count_1d', 'ses_dur':'ses_dur_1d', 'first_days.session_duration_sum.real.1d':'ses_1d', 'first_days.likes_sent.real.1d':'likes_sent_1d', 'first_days.messages_sent.real.1d':'mess_sent_1d', 'first_days.messages_received.real.1d':'mess_rec_1d', 'first_days.mutual_likes_sent.real.1d':'mut_likes_sent_1d', 'first_days.mutual_likes_received.real.1d':'mut_likes_rec_1d', 'first_days.profile_other_visits.real.1d':'profile_other_visits_1d', 'photos_count':'photos_count_1d', 'first_days.rates_sent.real.1d':'rates_sent_1d', 'first_days.likes_received.real.1d':'likes_rec_1d', 'ads_revenue_since_reg.1':'ads_revenue_1d'})

In [ ]:
df

In [150]:
df['retention_1d'] = df['retention_last_app_start'].fillna('0').apply(lambda x: (x.find('"1"') == 1)*1)

KeyError: 'retention_last_app_start'

In [152]:
df.drop(['sex'], axis=1, inplace=True)

In [153]:
df.columns

Index(['group', 'ses_1d', 'ses_count_1d', 'likes_sent_1d', 'likes_rec_1d',
       'mess_sent_1d', 'mess_rec_1d', 'mut_likes_sent_1d', 'mut_likes_rec_1d',
       'profile_other_visits_1d', 'ads_revenue_1d', 'retention_1d'],
      dtype='object')

In [159]:
1.893477104588753/1.4926715522984677 - 1

0.26851556973341584

In [154]:
df.to_csv(r'C:\Users\User\Downloads\for_test.csv', index=False)

In [103]:
p, power, message, df = library_for_ab.get_p_value('ARPU', df, 'group', 'ads_revenue_since_reg.1')

C:\Users\User\PycharmProjects\telegram_helper_for_ab\library_for_ab.py:188: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  x_1 = data.quantile(0.25)[name_column_metric] - 1.5 * (
C:\Users\User\PycharmProjects\telegram_helper_for_ab\library_for_ab.py:189: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.quantile(0.75)[name_column_metric] - data.quantile(0.25)[name_column_metric])
C:\Users\User\PycharmProjects\telegram_helper_for_ab\library_for_ab.py:190: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  x_2 = data.quantile(0.75)[name_column_metric] + 1.5 * (
C:\Users\User\PycharmProjects\telegram_helper_for_ab\library_for_ab.py:191: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.quantile(0.75)[name_column_metric] - data.quantile(0.25)[name_column_metric])
C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [104]:
p

0.0

In [105]:
message

'\nГруппа B\nПроцент выбросов 12.489724868236546%.\nВыбросы были удалены.\nГруппа A\nПроцент выбросов 12.79147235176549%.\nВыбросы были удалены.\nДанные в группах не из нормального распределения\nДисперсии в группах равны'

In [106]:
library_for_ab.get_conclusion(df, 'group', 'ads_revenue_since_reg.1', p)

'Среднее в группе B: 0.9235653260028731.\nСреднее в группе A: 0.9762507601222307.\nРазличия в средних статистически значимы.'

In [75]:
df

,group,ses_1d,ses_count_1d,likes_sent_1d,first_days.likes_received.real.1d,mess_sent_1d,mess_rec_1d,mut_likes_sent_1d,mut_likes_rec_1d,profile_other_visits_1d,rates_sent_1d,sex,ads_revenue_since_reg.1,mobile_pushes_state.events.1d,mobile_pushes_state.mass.1d,photos_count_1d,retention_1d
0,B,118,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,10.0,1,0.06919,4.0,NaN,0,0
3,B,1696,2,26.0,15.0,1.0,1.0,1.0,NaN,NaN,26.0,1,0.53126,16.0,NaN,1,0
5,B,335,1,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1,0.05100,3.0,NaN,1,0
6,B,2113,2,28.0,NaN,1.0,NaN,NaN,NaN,8.0,28.0,1,0.39882,2.0,NaN,1,0
7,B,1129,1,6.0,3.0,NaN,1.0,4.0,NaN,NaN,10.0,1,0.11987,13.0,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26572,A,15398,46,18.0,117.0,24.0,39.0,65.0,1.0,68.0,274.0,1,0.20684,97.0,NaN,2,1
26593,A,64,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1,0.15041,NaN,3.0,1,1
26595,A,942,19,15.0,123.0,1.0,1.0,NaN,1.0,1.0,15.0,1,2.20758,29.0,NaN,1,0
26614,A,401,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.41352,1.0,2.0,2,0
26616,A,1026,7,12.0,43.0,NaN,2.0,NaN,2.0,5.0,15.0,0,0.96922,19.0,NaN,1,1

In [37]:
df.sort_values(by='ads_revenue_since_reg.1', ascending=False)['ads_revenue_since_reg.1']

23950    17483494
16745    12306164
5913      9740787
8120      9732635
12205     9260607
           ...
1991            0
18698           0
20219           0
12788           0
11774           0
Name: ads_revenue_since_reg.1, Length: 26685, dtype: int64

In [41]:
df[df['ads_revenue_since_reg.1']== 17483494]

,mobile_version,first_days.session_duration_sum.real.1d,first_days.sessions_count.real.1d,first_days.likes_sent.real.1d,first_days.likes_received.real.1d,first_days.messages_sent.real.1d,first_days.messages_received.real.1d,first_days.mutual_likes_sent.real.1d,first_days.mutual_likes_received.real.1d,first_days.profile_other_visits.real.1d,first_days.rates_sent.real.1d,retention_last_app_start,sex,ads_revenue_since_reg.1,revenue_since_reg.1,mobile_pushes_state.any.1d,mobile_pushes_state.events.1d,mobile_pushes_state.mass.1d,photos_count
23950,4.1.4,55075,28,496.0,189.0,221.0,245.0,20.0,28.0,105.0,583.0,"[""1""]",1,17483494,NaN,360.0,360.0,NaN,1

In [145]:
df.groupby('group').sex.mean()

group
A    0.914890
B    0.926986
Name: sex, dtype: float64